/* Prevent text selection */
body {
  -webkit-user-select: none;
}


/* Allow window to be dragged from anywhere */
* {
  -webkit-app-region: drag;
}

button,
a,
input {
  -webkit-app-region: no-drag;
}

/* Prevent WebView bounce effect in OS X */
html,
body {
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Prevent blue outline */
a:focus,
input:focus,
button:focus,
[tabindex]:focus {
  outline: none !important;
}

/* Titles don't have margins on desktop apps */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
